*, *:after, *:before { box-sizing: border-box; }

.list-unstyled{
    text-decoration: none;
}
.header-right span{
  color: #a1a1a1;
  font-size: 24px;
  font-weight: bold;
}
.menu{
  padding-top: 10px;
}
.menu li{
  border-right: 2px solid white;
}
.menu li a{
  color: white;
  text-decoration: none;
}
.menu li:last-child{
  border-right: none;
}
ul{
list-style-type: none;
}
body {
 background-image: url('../img/backimg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 2000px;
  }

.slider-img img{  
  width: 280px;
  margin: 75px 65px 90px 50px;
}
.slider-text{
  padding: 77px 160px;
}
.border-lr{
  border-right:4px solid #e7e7e7;
  border-left: 4px solid #e7e7e7;
}
.pl-40{padding-left: 40px;}
.pl-87{padding-left: 87px;}
.slider-click-left,.slider-click-right{
  display: flex;
  align-items: center;
}
.slider-click-right{

  justify-content: flex-end;
}


.product-item{
  border-left:  2px solid #e4e4e4;
  border-top: 2px solid #e4e4e4;
  border-right: 2px solid #e4e4e4;  
  border-bottom: 6px solid #3cc395;
}
.footer-item li a{
  font-size: 20px;
}
/* Small */
@media (min-width: 576px) {
}

/* Medium */
@media (min-width: 768px) {
  
}

/* Large */
@media (min-width: 992px) {
  

}

/* Extra Large */
@media (min-width: 1200px) {
  
}